.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  color: var(--color-black);
  background: var(--color-white);
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 1rem 1rem var(--color-black);

  .spinner {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.5rem solid var(--color-blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--color-black);

    label {
      width: max-content;
      font-weight: bold;

      span {
        color: var(--color-red);
      }
    }

    input {
      border: 1px solid var(--color-grey-2);
      border-radius: 0.6rem;
    }

    input:not(:placeholder-shown):invalid {
      border-color: var(--color-red);

      & ~ .icon {
        display: none;
      }
    }

    input:not(:placeholder-shown).invalid {
      border-color: var(--color-red);

      & ~ .icon {
        position: absolute;
        top: 3.4rem;
        right: 1rem;
        color: var(--color-red);
        font-size: 2rem;
      }
    }

    input:not(:placeholder-shown):not(.invalid):valid {
      border-color: var(--color-green);

      & ~ .icon {
        position: absolute;
        top: 3.4rem;
        right: 1rem;
        color: var(--color-green);
        font-size: 2rem;
      }
    }

    input:placeholder-shown ~ .icon {
      display: none;
    }

    input:focus:placeholder-shown {
      outline: 3px solid var(--color-primary);
    }

    input:focus-visible {
      outline: none;
    }

    p {
      color: var(--color-red);
      font-size: 1.4rem;
      font-style: italic;
    }
  }

  div[role='alert'] {
    align-items: center;
    background-color: #fee;
    padding: 1rem;
    border: 1px solid #d31;

    p {
      color: inherit;
      font-size: 1.4rem;
      font-style: normal;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--color-white);
    padding: 1rem;
    border-radius: 0.6rem;
  }

  button:focus {
    outline: 3px solid var(--color-primary);
  }

  button:active {
    outline: none;
  }

  .btn_purple {
    background-color: var(--color-purple);
  }

  .btn_blue {
    background-color: var(--color-blue);

    svg {
      font-size: 2rem;
    }
  }

  .btn_green {
    background-color: var(--color-green);
  }

  .btn_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-black);
    line-height: 1;
    padding: 0;
  }
}
