.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  color: var(--color-black);
  background: var(--color-white);
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 1rem 1rem var(--color-black);

  p {
    color: var(--color-black);

    a {
      color: var(--color-blue);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    color: var(--color-black);

    label {
      width: max-content;
      font-weight: bold;
    }

    input {
      border: 1px solid var(--color-grey-2);
      border-radius: 0.6rem;
    }

    input:not(:placeholder-shown):invalid {
      border-color: var(--color-red);
    }

    input:focus {
      outline: 1px solid var(--color-blue);
    }

    span {
      color: var(--color-red);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--color-white);
    padding: 1rem;
    border-radius: 0.6rem;
  }

  .btn_purple {
    background-color: var(--color-purple);
  }

  .btn_blue {
    background-color: var(--color-blue);

    svg {
      font-size: 2rem;
    }
  }

  .btn_green {
    background-color: var(--color-green);
  }

  .btn_close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--color-black);
  }
}
