.textarea {
  max-height: 25rem;
  line-height: normal;
  word-break: break-all;
  resize: none;

  &::-webkit-scrollbar {
    background-color: var(--color-dark);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 1rem;
  }
}

.textarea:focus {
  outline: none;
}
