.textarea {
  max-height: 25rem;
  line-height: normal;
  word-break: break-all;
  resize: none;
  overflow-y: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-dark);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 1rem;
  }

  &:focus {
    outline: none;
  }

  @media (max-height: 500px) {
    max-height: 7rem;
  }
}
