.link {
  min-width: fit-content;

  span {
    vertical-align: bottom;
    aspect-ratio: 1;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gold-dark);
  font-weight: bold;
  background-color: var(--color-white);
  border-radius: 50%;
}

.image {
  border-radius: 50%;
}

.avatar:hover,
.image:hover {
  filter: brightness(1.1);
}
