.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;

  .comment {
    width: fit-content;
    background-color: var(--color-dark-2);
    padding: 0.3rem 1rem;
    border-radius: 1rem;

    span {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .reaction {
    display: flex;
    gap: 1rem;
    color: var(--color-grey-3);
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
