.container {
  display: none;
  padding: 2rem 0;
  border-top: 1px solid var(--color-dark-2);

  & > button {
    color: var(--color-grey-3);
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show {
  display: block;
}
