.container {
  display: flex;
  align-items: center;
  gap: 1rem;

  form {
    flex: 1;

    input {
      width: 100%;
      font-size: 1.5rem;
      background-color: var(--color-dark-2);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      outline: none;
    }
  }
}
