.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0;

  & > div {
    flex: 1;
  }

  .comment {
    width: fit-content;
    background-color: var(--color-dark-2);
    padding: 0.3rem 1rem;
    border-radius: 1rem;

    span {
      font-size: 1.3rem;
      font-weight: 600;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .reaction {
    display: flex;
    gap: 1rem;
    color: var(--color-grey-3);
    font-size: 1.2rem;
    margin-left: 1rem;

    button:hover {
      text-decoration: underline;
    }
  }
}
