.formGroup {
  width: 100%;

  input {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  input:focus ~ label {
    color: var(--color-primary);
    box-shadow: 0 0 1rem;
    text-shadow: 0 0 0.5rem;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-grey-1);
    border-radius: 0.5rem;
    cursor: pointer;

    svg {
      font-size: 2rem;
      color: #7b6;
    }
  }
}
