.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
  height: 40vh;
  background-color: var(--color-black);
  padding: 1rem;
  border-radius: 1rem;

  .friends {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    div {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        color: var(--color-primary);
        font-size: 1.3rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: var(--color-black);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-dark-2);
      border-radius: 1rem;
    }
  }
}
