.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-blue);

  .title {
    color: var(--color-primary);
    font-size: clamp(2.5rem, 4vw, 3.5rem);
  }
}
