.container {
  padding: 0 5vw;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  @media (max-width: 500px) {
    padding: 0 1vw;
  }
}
