.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-dark);
  padding: 2rem;
  border-radius: 1rem;

  a {
    width: 5rem;
    height: 5rem;
  }

  span {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }

  & > input {
    flex: 1;
    background-color: var(--color-dark-2);
    padding: 1rem;
    border-radius: 2rem;
  }
}
