.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50vw;
  background-color: var(--color-dark);
  padding: 2rem;
  margin: -2rem auto;
  border-radius: 1rem;

  a {
    width: 5rem;
    height: 5rem;
  }

  span {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }

  & > input {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 2rem;
  }

  @media (max-width: 768px) {
    width: 70vw;
  }
}
