.post {
  width: 100%;
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem 0 2rem;

  .head {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    p {
      color: #999;
      font-size: 1.2rem;
    }
  }

  .text {
    margin-bottom: 1rem;
  }

  .imageContainer {
    margin: 1rem -2rem;
  }

  .reaction {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .reactionHead {
      display: flex;
      justify-content: space-between;
      color: var(--color-grey-3);
      font-size: 1.5rem;

      button:hover {
        text-decoration: underline;
      }
    }

    .reactionBtns {
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      color: var(--color-grey-3);
      padding: 0.5rem;
      border-top: 1px solid var(--color-dark-2);

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      button:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
