.search {
  position: relative;
  width: 100%;

  input {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .results {
    position: absolute;
    top: 110%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-height: 22rem;
    background-color: var(--color-dark);
    padding: 1rem 0;
    border: 1px solid var(--color-dark-2);
    border-radius: 1rem;
    overflow-y: auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: 1;

    a,
    span {
      padding: 0 1rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: var(--color-dark);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-black);
      border-radius: 1rem;
    }
  }
}
