.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  width: clamp(12rem, 15vw, 18rem);
  line-height: normal;
  background-color: var(--color-black);
  padding: 0 1rem 2rem;
  border: 1px solid var(--color-dark-2);
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);

  & > a {
    margin: 0 -1rem;

    span,
    img {
      border-radius: 1rem 1rem 0 0;
    }
  }

  .cardInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: var(--color-primary);
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    & > p {
      width: fit-content;
      min-height: 1.75rem;
      color: var(--color-grey-3);
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &:hover + .mutualFriends {
        display: flex;
      }
    }

    .mutualFriends {
      position: absolute;
      top: 110%;
      left: 0;
      display: none;
      flex-direction: column;
      color: var(--color-black);
      font-size: 1.3rem;
      background-color: #ffffffcc;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }

  button {
    background-color: var(--color-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
