.welcome {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 5rem 10vw;
  padding: 5rem 5vw;

  & > div {
    grid-column: span 4 / span 4;
  }

  h1 {
    color: var(--color-primary);
  }

  & > form {
    grid-column: span 4 / span 4;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .welcome {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
